li {
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
  width: 15%;
}
.mainlist::after {
  content: "";
  display: block;
  top: 0;
  height: 3px;
  width: 0px;
  transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.mainlist:hover::after {
  left: 0;
  width: 100%;
  background: blue;
}
.uppercase-letters::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  transition: width 0.5s ease-in, background-color 0.5s ease;
}
.uppercase-letters:hover::after {
  width: 100%;
  background: blue;
}
